profiles {
    oist {
        params {
            oist_slurm_cluster_options = { List defaults = [] ->
                if (params.slurm_cluster_options instanceof Boolean) {
                    throw new IllegalArgumentException(
                        "params.slurm_cluster_options must be a string. Use --slurm_qos 2h or --slurm_cluster_options='--qos=2h'."
                    )
                }
                def qosOption = params.slurm_qos ? "--qos=${params.slurm_qos}" : null
                (defaults + [qosOption, params.slurm_cluster_options ?: null])
                    .findAll { option -> option != null && option.toString().trim() }
                    .join(' ')
            }
            config_profile_description = 'The Okinawa Institute of Science and Technology Graduate University (OIST) HPC profile with SLURM and synchronised Apptainer/Singularity settings.'
            config_profile_contact = 'OIST Bioinformatics User Group <BioinfoUgrp@oist.jp>'
            config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/oist.md'

            max_memory = 750.GB
            max_cpus = 128
            max_time = 720.h
            queue_short = 'short'
            queue_standard = 'compute'
            queue_highmem = 'largemem'
            slurm_queue = null
            slurm_qos = null
            slurm_cluster_options = null
            executor_queue_size = null
            singularity_cache_dir = null
            singularity_run_options = null
            singularity_pull_timeout = null
            apptainer_cache_dir = null
            apptainer_run_options = null
            apptainer_pull_timeout = null
        }

        process {
            executor = 'slurm'
            queue = params.slurm_queue ?: params.queue_standard
            clusterOptions = { params.oist_slurm_cluster_options() }
            resourceLimits = [
                memory: 750.GB,
                cpus: 128,
                time: 720.h,
            ]
        }

        executor {
            queueSize = params.executor_queue_size ?: 2000
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cache_dir ?: params.apptainer_cache_dir ?: "${baseDir}/.singularity-cache"
            pullTimeout = params.singularity_pull_timeout ?: params.apptainer_pull_timeout ?: '100m'
            runOptions = params.singularity_run_options ?: params.apptainer_run_options ?: '--cleanenv'
        }

        apptainer {
            autoMounts = true
            cacheDir = params.apptainer_cache_dir ?: params.singularity_cache_dir ?: "${baseDir}/.singularity-cache"
            pullTimeout = params.apptainer_pull_timeout ?: params.singularity_pull_timeout ?: '100m'
            runOptions = params.apptainer_run_options ?: params.singularity_run_options ?: '--cleanenv'
        }

        docker {
            enabled = false
        }
    }
}
